<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel La'Breeize</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, repellendus, facere in voluptate maxime dolor voluptatum labore quam sed autem, nostrum doloremque omnis distinctio voluptatem tempora laudantium maiores sunt at.</p>
    </header>

   <main>
    <section>
        <form action="">
            <label for="">Name</label>
            <input type="text">
            <br><br>
            <label for="">Email</label>
            <input type="email">
            <br><br>
            <label for="">Phone</label>
            <input type="tel">
            <br><br>
            <label for="">Message</label>
            <textarea name="Message" id="" placeholder="Leave your message here. Thank you!"></textarea>
           <br><br> <button type="submit">Submit</button>
        </form>

    </section>
    <br><br>


    <section>
        <p>Address: 103A Sub St, Bukoto, kampala-Uganda</p>
        <p>Phone Number: <a href="tel: +256704978132">+256 704 978 132</a></p>
        <p>Email Address: <a href="mailto: aloisiuskasozi@gmail.com">labreeize@hotel.com</a></p>

    </section>

    <section>
        <a href="htps://facebook.com/aloisiuskasozi" target="_blank">facebook</a>
        <a href="htps://x.com/aloisiuskasozi" target="_blank">Twitter</a>
        <a href="htps://linkedin.com/aloisiuskasozi" target="_blank">Linkedin</a>
    </section>

    <br>
    <section>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127671.83581162839!2d32.54613882448777!3d0.3476652404494833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177db99ce0ddd353%3A0x3f078da3fc1d014f!2sNakawa%2C%20Kampala!5e0!3m2!1sen!2sug!4v1725273143877!5m2!1sen!2sug" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <br><br>

        <div class="contact-person">
            <p>Name: Aloisius Kasozi</p>
            <p>Title: Customer Support</p>
            <p>Contact Information: [ Mail to: <a href="mailto: aloisiuskasozi@gmail.com">aloisiuskasozi@gmail.com</a> | Phone: <a href="tel:+256704978132">+256704978132</a>  ]</p>
        </div>
    </section>
    <section style="background-color: black; height: 100px; width: 100%;">

    </section>



    




   </main>

    



</body>
</html>