<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel La'Breeize</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <h1>Welcome To Hotel La'Breeize</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, repellendus, facere in voluptate maxime dolor voluptatum labore quam sed autem, nostrum doloremque omnis distinctio voluptatem tempora laudantium maiores sunt at.</p>
    </header>

   <main>
    <section>

    </section>




   </main>

    



</body>
</html>